$baseFontSize: 14px;
$titleFontSize: 16px;
$breakpoint: 760px;
$mainGreen: #46A358;
$mainText: #727272;
$mainTitle: #3D3D3D;
$bgLight: #FBFBFB;;
$bgGreen: rgba(70, 163, 88, 0.10);
$underlineColor: rgba(70, 163, 88, 0.50);

@function pxToRem($px) {
  $remValue: $px / 16; // 1rem = 16px
  @return #{$remValue}rem;
}

.header {

  &__container {
    height: pxToRem(78);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    font-size: pxToRem(titleFontSize);
    border-bottom: 1px solid $underlineColor;
  }

  &__logo {
    cursor: pointer;
  }

  &__menu {
    .nav__body {
      display: flex;
      justify-content: center;

      .menu__navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items:center;
        gap: pxToRem(50);
        box-sizing: border-box;
        
        li {
          box-sizing: border-box;
          height: 20px;
        }

        li:hover {
          border-bottom: 2px solid $mainGreen;
          box-sizing: border-box;
          cursor: pointer;
        }

        
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: pxToRem(50);

    .actions__btn {
      cursor: pointer;
      text-decoration: none;
    }

    button {
      width: 100px;
      height: 35px;
      background-color: $mainGreen;
      color: #fff;
      border: none;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }

  @media (max-width: $breakpoint) {
    
    .header__menu {
      display: none;
    }
    
    .header__actions {
      display: none;
    }

    .header__burger-menu {
      display: block;
    }

    .header__burger-menu.open {
      display: none;
    }
  
  }
}
